.DateSelector {
	display: inline-block;
	border: 1px solid #aaa;
	border-radius: 5px;
	text-align: center;
}

.DateSelector .prev, .DateSelector .content, .DateSelector .next {
	vertical-align: middle;
	text-align: center;
	padding: 8px;
}

.DateSelector .prev, .DateSelector .next {
	padding: 0px 8px;
	cursor: pointer;
}

.DateSelector .prev:hover, .DateSelector .next:hover {
	color: red;
	background: #eee;
}

.DateSelector .month {
	font-size: 1.4em;
	line-height: 1;
}

.DateSelector .date {
	font-size: 2.8em;
	line-height: 1;
}

.DateSelector .day {
	font-size: 1em;
	line-height: 1;
}